parameters:
	ignoreErrors:
		-
			message: '#^Offset ''drifting'' on array\{pending\: array, drifting\: array\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Command/BriefCommand.php

		-
			message: '#^Offset ''pending'' on array\{pending\: array, drifting\: array\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Command/BriefCommand.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:set\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Command/CommitmentUpdateCommand.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Command/CommitmentsCommand.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Command/MigratePersonTiersCommand.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:set\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Command/MigratePersonTiersCommand.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: src/Command/RecategorizeEventsCommand.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:set\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Command/RecategorizeEventsCommand.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: src/Command/SkillsCommand.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Command/WorkspacesCommand.php

		-
			message: '#^Property Claudriel\\Controller\\BriefStreamController\:\:\$twig is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Controller/BriefStreamController.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 10
			path: src/Controller/ChatController.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/ChatStreamController.php

		-
			message: '#^Property Claudriel\\Controller\\ChatStreamController\:\:\$twig is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Controller/ChatStreamController.php

		-
			message: '#^Strict comparison using \!\=\= between non\-falsy\-string and '''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Controller/ChatStreamController.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:set\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/CommitmentUpdateController.php

		-
			message: '#^Property Claudriel\\Controller\\CommitmentUpdateController\:\:\$twig is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Controller/CommitmentUpdateController.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: src/Controller/ContextController.php

		-
			message: '#^Property Claudriel\\Controller\\ContextController\:\:\$twig is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Controller/ContextController.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: src/Controller/DashboardController.php

		-
			message: '#^Offset ''workspaces'' on array\{schedule\: array, job_hunt\: array, people\: array, triage\: array, creators\: array, notifications\: array, commitments\: array\{pending\: array, drifting\: array\}, counts\: array\{job_alerts\: int, messages\: int, triage\: int, due_today\: int, drifting\: int\}, \.\.\.\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: src/Controller/DashboardController.php

		-
			message: '#^Property Claudriel\\Controller\\IngestController\:\:\$twig is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Controller/IngestController.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Controller/IngestController.php

		-
			message: '#^Strict comparison using \=\=\= between mixed~\(0\|0\.0\|''''\|''0''\|array\{\}\|false\|null\) and '''' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Controller/IngestController.php

		-
			message: '#^Parameter \#1 \$workspace of method Claudriel\\Controller\\WorkspaceApiController\:\:serialize\(\) expects Claudriel\\Entity\\Workspace, Waaseyaa\\Entity\\EntityInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/WorkspaceApiController.php

		-
			message: '#^Property Claudriel\\Controller\\WorkspaceApiController\:\:\$twig is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Controller/WorkspaceApiController.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$brief$#'
			identifier: parameter.notFound
			count: 1
			path: src/Domain/Chat/ChatSystemPromptBuilder.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 19
			path: src/Domain/DayBrief/Assembler/DayBriefAssembler.php

		-
			message: '#^Property Claudriel\\Domain\\DayBrief\\Assembler\\DayBriefAssembler\:\:\$personRepo is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Domain/DayBrief/Assembler/DayBriefAssembler.php

		-
			message: '#^Offset ''confidence'' on array\{title\: string, confidence\: float\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Ingestion/CommitmentHandler.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:set\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Ingestion/EventHandler.php

		-
			message: '#^Method Claudriel\\Ingestion\\EventHandler\:\:handle\(\) should return Claudriel\\Entity\\McEvent but returns Waaseyaa\\Entity\\EntityInterface\.$#'
			identifier: return.type
			count: 1
			path: src/Ingestion/EventHandler.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:set\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Ingestion/Handler/PersonIngestHandler.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Entity\\EntityInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Ingestion/SkillFileIngester.php

		-
			message: '#^Method Claudriel\\Support\\DriftDetector\:\:findDrifting\(\) should return array\<Waaseyaa\\Entity\\ContentEntityInterface\> but returns list\<Waaseyaa\\Entity\\EntityInterface\>\.$#'
			identifier: return.type
			count: 1
			path: src/Support/DriftDetector.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(Waaseyaa\\Entity\\EntityInterface\)\: bool\)\|null, Closure\(Waaseyaa\\Entity\\ContentEntityInterface\)\: bool given\.$#'
			identifier: argument.type
			count: 2
			path: src/Support/DriftDetector.php
