parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Access/ChatSessionAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Access/CommitmentAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Access/JunctionAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Access/McEventAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Access/MilestoneAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Access/PersonAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Access/PipelineLeadEntityAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Access/ProjectAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Access/RepoAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Access/ScheduleEntryAccessPolicy.php

		-
			message: '#^Call to an undefined method Waaseyaa\\Access\\AccountInterface\:\:getTenantId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Access/TriageEntryAccessPolicy.php

		-
			message: '#^Call to function method_exists\(\) with Waaseyaa\\Entity\\EntityInterface and ''get'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Controller/Platform/ObservabilityDashboardController.php

		-
			message: '#^Instantiated class Claudriel\\Domain\\Chat\\Tool\\SpecialistListTool not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controller/ChatStreamController.php
